@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {
    .title {
        font-size: 30px;
        line-height: 110%;
    }
    .button {
        width: 150px;
    }
    .vacancy .container {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .vacancy:after {
        background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.709154))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
        background: -o-linear-gradient(right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.709154) 100%), -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.709154) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }
    .vacancy__title {
        margin-bottom: 9px;
    }
    .vacancy__link-wrapper {
        margin-top: 25px;
    }
    .vacancy__contacts-btn {
        width: 155px;
    }
    .vacancy__favorites-btn {
        width: 38px;
    }
    .vacancy__logo {
        margin-right: auto;
        display: block;
    }
    .vacancy__logo img {
        width: 90px;
    }
    .about__head {
        padding-top: 20px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 608px;
    }
    .about__item {
        max-width: 230px;
        margin-top: 30px;
    }
    .info .title {
        margin-top: 60px;
        margin-bottom: 20px;
        line-height: 121%;
    }
    .info .info__title {
        margin-top: 80px;
    }
    .conditions .container {
        padding-top: 20px;
        padding-bottom: 130px;
        padding-right: 85px;
    }
    .conditions__swiper-button-prev,
    .conditions__swiper-button-next {
        display: none;
    }
    .conditions .container .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 85px;
    }
    .company:after {
        background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.709154))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
        background: -o-linear-gradient(right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.709154) 100%), -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.709154) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }
    .company__wrapper {
        padding-top: 12px;
        max-width: 451px;
    }
    .company__subtitle {
        margin-top: 15px;
    }
    .company__button {
        margin-top: 30px;
        width: 240px;
        height: 46px;
        font-size: 16px;
    }
    .contact .container {
        padding-top: 45px;
    }
    .contact__button {
        width: 240px;
        height: 46px;
        font-size: 16px;
    }
}

@media (max-width: 991.98px) {
    .conditions-slide.swiper-slide {
        height: 120px;
    }
}

@media (max-width: 767.98px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .title {
        font-size: 22px;
    }
    .button {
        font-size: 14px;
        max-width: none;
    }
    .vacancy .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .vacancy__title {
        font-size: 24px;
        line-height: 40px;
    }
    .vacancy__link-wrapper {
        margin-top: 40px;
    }
    .vacancy__buttons-row {
        width: 100%;
    }
    .vacancy__salary,
    .vacancy__hh-link {
        font-size: 18px;
        line-height: 22px;
    }
    .vacancy__adress {
        margin-top: 10px;
        max-width: 205px;
    }
    .vacancy__adress-mark {
        display: none;
    }
    .vacancy__adress-mark-mobile {
        display: inline-block;
    }
    .vacancy__buttons-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 3px;
        max-width: none;
    }
    .vacancy__reply-btn {
        margin: 0;
        width: 100%;
        margin-top: 55px;
    }
    .vacancy__contacts-btn {
        max-width: 100%;
        margin-right: 10px;
        margin-top: 10px;
        width: 100%;
    }
    .vacancy__favorites-btn {
        margin-top: 10px;
    }
    .vacancy__logo {
        display: block;
        position: absolute;
        right: 60px;
        height: auto;
        top: 30%;
    }
    .vacancy__logo img {
        width: 90pxpx;
    }
    .about .container {
        padding-top: 60px;
        padding-bottom: 20px;
        background: #ffffff;
    }
    .about__head {
        padding: 0;
        max-width: 100%;
    }
    .about__item {
        max-width: none;
        margin: 0;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .about__item-img {
        width: 45px;
        height: 45px;
    }
    .about__item img {
        margin-right: 15px;
    }
    .about__item p {
        font-size: 16px;
        line-height: 100%;
    }
    .info .container {
        padding-bottom: 40px;
    }
    .info__main {
        padding-right: 0;
    }
    .info .title {
        margin-top: 80px;
        margin-bottom: 30px;
    }
    .info .info__title {
        margin-top: 40px;
    }
    .info .info__last-title {
        margin-top: 65px;
    }
    .conditions .container {
        padding-bottom: 120px;
        padding-right: 15px;
    }
    .conditions .title {
        text-align: center;
        line-height: 110%;
    }
    .conditions-slide.swiper-slide {
        height: 32vw;
    }
    .conditions .container .swiper-pagination-bullets.swiper-pagination-horizontal {
        width: auto;
        bottom: 80px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .company {
        background-position: bottom 40% left 50%;
        text-align: center;
    }
    .company__wrapper {
        padding: 0;
        max-width: 100%;
    }
    .company__subtitle {
        margin-top: 32px;
    }
    .company__button {
        margin-top: 40px;
        width: 100%;
        height: 38px;
    }
    .contact .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .contact__wrapper {
        padding: 0;
        width: 100%;
        max-width: none;
    }
    .contact__title {
        text-align: center;
    }
    .contact__input {
        margin-top: 20px;
    }
    .contact__button {
        margin-top: 25px;
        width: 100%;
        height: 46px;
        font-size: 16px;
        line-height: 140%;
    }
    .contact__social,
    .contact__sign-wrapper {
        display: none;
    }
}

@media (max-width: 575.98px) {
    .vacancy__logo {
        display: block;
        margin: 0;
        position: absolute;
        right: 30px;
        height: auto;
        width: 64px;
        top: 38%;
    }
    .vacancy__logo img {
        width: 63px;
    }
    .conditions .title {
        max-width: 244px;
        margin: 0 auto;
    }
    .conditions-slide.swiper-slide {
        height: 60vw;
    }
}

@media (max-width: 489.98px) {
    .about__head {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}